/*header
{
    background: #052fad;

}*/
body
{
   /* background: #2545a2; */
   font-family: 'Source Sans Pro', sans-serif;
   margin: 0;
}

h1,
h2,
h3,
h4{
    font-family: 'Times New Roman', Times, serif;
}

h1{
    letter-spacing: -.2px;
    font-size: 40px;
    line-height: 1.5em;
    color: white;
    margin: 100px 150px 70px 30px;    
}
h1 strong {
    color: #026fff;
}

.seccion {
    height: 300px;
    background-image: url('../images/hero.jpg');
    background-color: #1b2127;
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
}
.portfolio {
    background: #fafafa;
}

.project {    
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    margin: 10px;
    padding: 20px;
    background: white;
    
}

.project-details {
    width: 500px;
    margin: 10px 20px;
}